body {
  font-family: "DM Sans", sans-serif;
  overflow-x: hidden;
}

.nav-bg {
  background-color: black !important;
}

.nav-col {
  color: white !important;
}

.register-size {
  font-size: xxx-large;
}

.welcome-font-size {
  font-size: xxx-large;
}

.link-white a:link {
  color: white;
  text-decoration: none;
}

.center-div {
  max-width: fit-content;
  margin-left: auto;
  margin-right: auto;
}

.center-div-mw-50 {
  max-width: 50%;
  margin-left: auto;
  margin-right: auto;
}

.text-dark-bg {
  color: white;
}

.ticketingDate a {
  color: black !important;
  padding: 1em;
  outline: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.ticketingDate a {
  text-decoration: none !important;
  color: white !important;
}
.ticketingDate:hover a {
  background-color: blue !important;
  color: white !important;
  padding: 1em;
  outline: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.current-fill {
  color: blue;
}

.previous-fill {
  color: green;
}

.ticketingTimeIndicator {
  background-color: green !important;
  color: white !important;
  padding: 1em;
  outline: 2px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: large;
}

.finalPricing {
  font-family: "Inconsolata", "Consolas", monospace;
  text-align: right;
}

.QR {
  font-family: "Inconsolata", "Consolas", monospace;
  text-align: center;
}

@media print {
  .exclude-from-print {
    display: none;
  }
}

@media screen {
  .exclude-from-screen {
    display: none;
  }
}

.latestTicketBorder {
  border-radius: 8px;
  box-shadow: 2px 2px 5px black;
}

.preChildDiv {
  object-fit: cover;
  margin-left: auto;
  background-color: #00000088;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
  padding-top: 1em;
  padding-bottom: 1em;
}
