PHP and MySQL Project Requirements:
- Minimum of 5 tables
- Minimum of 2 user roles Ex: Admin, Customer
- Minimum of 3 CRUD Functionalities
    Ex: (Create, Read, Update, and Delete a User)
    Ex: (Create, Read, Update, and Delete a Post)
    Ex: (Create, Read, Update, and Delete a Product)
    Ex: (Create, Read, Update, and Delete a Message)
- Must have authentication 
    - Login, logout, register
- Must have authorization
    - Certain user has limitations on the actions they can perform on the application

Presentation Date is June 13 & 14. No extensions.